[Unit]
Description=Start F22-bot
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/bin/python3 /opt/mattermost_bots/f22-bot/python/main.py

[Install]
WantedBy=multi-user.target
